{% extends "blog/base_bootstrape.htm" %}
{% block content %}
    <h2>You  have been logged out</h2>
    <div class="content-section">
        <small class="text-muted">
            <a href="{% url 'login' %}">Login again</a>
         </small>
    </div>
{% endblock content %}