<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitfinished</title>
</head>
<body>
    <h1>Thanks for your Feedback</h1>
    <p><a href="signup.htm">Back to previous page</a></p>
    {{insert_back}}
</body>
</html>