{% extends "blog/base_bootstrape.htm" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                                  <!--這代表filter的意思-->
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2> 
          <!--post.id 是因為要確保id進入到primary key-->
          <p class="article-content">{{ post.context }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}