{% extends "blog/base_bootstrape.htm" %}
{% block content %}
    
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
                                  <!--這代表filter的意思-->
        <div>
            {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
        </div>
        </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.context }}</p>
    </div>
</article>
    
{% endblock content %}