{% extends "blog/base_bootstrape.htm" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group"> <!--bootstrape form-->
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
                <!--as p 就是as paragraphy 就可以分開成每行每行了-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}