<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin_and_report</title>
    <link rel="stylesheet" href="{% static 'css/CSS_Level_One_Assessment.css' %}">
</head>
<body>
    <form action="Thankyou.htm" method="get">
        <h1>TEST Sign Up Page</h1>
        <p>Please Note: First Name, Last Name, Password, and Email are required</p>

        <label for="First_Name">First Name:</label>
        <input type="text" name="firstname" id="First_Name" placeholder="First Name" required>

        <label for="Lirst_Name">Last Name:</label>
        <input type="text" name="lastname" id="Last_Name" placeholder="Last Name" required>

        <p></p>

        <label for="Email">Email:</label>
        <input type="email" name="email" id="Email" placeholder="Name@email.com" required>

        <label for="password">Password:</label>
        <input type="password" name="" id="password" required>


        <p>Are you over the age of 18?</p>

        <label for="over18">Yes:</label>
        <input type="radio" name="age" id="over18" value="over18">

        <label for="under18">No:</label>
        <input type="radio" name="age" id="under18" value="under18">

        <p>Prefer Payment</p>
        <select name="payment" id="">
            <option value="card">Credir Card</option>
            <option value="paypal">Paypal</option>
        </select>
        <br>
        <h2>Any other feedbacks?</h2>
        <textarea name="mytext" id="" cols="80" rows="8" ></textarea><br>
        <input type="submit" value="Submit Feedback">
        {{insert_me}}
        <!--Django的template tag. 語法不像是html也不像是python但是可以讓python直接放入內容-->
    </form>
    <h1>Insert Image</h1>
    <img src="{% static 'images/beach.jpg' %}" alt="ERROR">
</body>
</html>